
#dropdown {
    background-color: white;
}
#dropmenu {
    width: 960px;
    margin: 0 auto;
    text-align: left;
}
#dropdown  ul {
    padding: 0;
    margin: 0;
    position: relative;
    width: 200px;
}
#dropdown  ul li {
    display: inline-block;
}
#dropdown  ul li:hover {
    background-color: deeppink;
}
#dropdown  ul li {
    display: block;
    padding: 15px;

}
#dropdown  ul li:hover ul {
    display: block;
}
#dropdown  ul ul {
    display: none;
    position: absolute;
    background-color: white;
    border: 3px solid purple;
 }
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: white;
}

#bigtitle {
    color: deeppink;
    font-family: cursive; 
    font-size: 75px; 
}

#title {
    color: navy;
    font-family: monospace;
    font-size: 35px;
}

#chloe {
    color: mediumspringgreen;
}

.OOTD {
    padding: 15px;
}

.OOTD > a {
    position: absolute;
    margin-top: 250px;
    text-align: center;
    font-size: 16px;
}

.caption {
    text-align: center;
    font-size:16px;
    font-style:bold;
    color:magenta;
}


.OOTD img {
    height: 250px;
    width: 150px;
    object-fit: cover;
}

.Eyes img {
    height: 250px;
    width: auto;
}

.header {
    text-align: center;
    top: 20px;
    font-family: trebuchet;
    font-size: 30px; 
    color: lightgreen;

}

#container {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.bloglinktext {
    font-family: times;
    color: deeppink;
    text-align: center;
}


.blank_post{
    width: 200px; 
}


    